# Markdown
This is a markdown text

In [7]:
"Hello world"

'Hello world'

In [8]:
from random import randint

my_list=[]

count = randint(0,100)

for i in range(count):
    my_list.append(randint(0,1000))
print(my_list)

[287]

## On affiche les éléments suivants:
- Somme,
- Moyenne avec 1 chiffre après la virgule,
- Minimum,
- Maximum

In [9]:
informations = (sum(my_list), round(sum(my_list)/len(my_list), 1), sorted(my_list)[0], sorted(my_list)[-1])
print(informations)

(287, 287.0, 287, 287)

In [10]:
import pandas as pd
from fastparquet import ParquetFile

def import_parquet(file):
    pf = ParquetFile(file)
    df = pf.to_pandas()
    return df

%time import_parquet('/Users/theotime/epitech-projets/2024-2025/piscine-python/documents/Jour 7/flights.parquet')

CPU times: user 23.7 ms, sys: 3.36 ms, total: 27 ms
Wall time: 31.2 ms

,FL_DATE,DEP_DELAY,ARR_DELAY,AIR_TIME,DISTANCE,DEP_TIME,ARR_TIME
0,2006-01-01,5,19,350,2475,9.083333,12.483334
1,2006-01-02,167,216,343,2475,11.783334,15.766666
2,2006-01-03,-7,-2,344,2475,8.883333,12.133333
3,2006-01-04,-5,-13,331,2475,8.916667,11.950000
4,2006-01-05,-3,-17,321,2475,8.950000,11.883333
...,...,...,...,...,...,...,...
999995,2006-02-20,87,86,71,545,19.733334,21.333334
999996,2006-02-20,-2,0,71,508,8.050000,9.583333
999997,2006-02-20,33,19,64,508,14.700000,15.983334
999998,2006-02-20,65,54,65,508,17.633333,18.983334
999999,2006-02-20,141,135,70,508,1.183333,2.616667

In [11]:
import ipywidgets as widgets
from IPython.display import display

# Création d'un slider
slider = widgets.IntSlider(
    value=50,  # Valeur initiale
    min=0,     # Valeur minimale
    max=100,   # Valeur maximale
    step=1,    # Incrément
    description='Slider:',
    style={'description_width': 'initial'}
)

# Affichage du slider
display(slider)

IntSlider(value=50, description='Slider:', style=SliderStyle(description_width='initial'))

In [12]:
def show_new_value(value):
    print(f"La nouvelle valeur est: {value}")

slider.observe(show_new_value, names='value')

In [13]:
button = widgets.Button(description="Voici un bouton")

display(button)

Button(description='Voici un bouton', style=ButtonStyle())

In [14]:
def is_clicked(b):
    print("Bouton cliqué!!!!")

button.on_click(is_clicked)